In [4]:
# DAY-10 CWH Python: Taking "Input Functions" from the user 

a = input("Enter your name:")

Enter your name:"Shreyas"

In [5]:
print("My name is",a)

My name is "Shreyas"

In [9]:
x = int(input("Enter first number: "))
y = int(input("Enter second number:"))

# Anything that comes in an input function is in a String format to avoid that we need to define the input function with the 
# Inbuilt or the external functions in Python

Enter first number: 6
Enter second number:8

In [10]:
print(x+y)

14

In [12]:
x = input("Enter first number: ")
y = input("Enter second number:")
     
print(int(x)+int(y))

Enter first number: 47
Enter second number:799
846

In [100]:
x = input("Enter first number: ")
y = input( "Enter second number:")

print (x+ y)

Enter first number: y
Enter second number:u
yu

In [15]:
# Day-11: "Strings" It is essentially a sequence or an array of textual data,which is enclosed in a 'single' or "double" quotes
# "Strings" are used while working with unicode characters.

name = "Shreyas"
print("Hellow," + name)

Hellow,Shreyas

In [51]:
# Slicing of String
print(name[0:4])

Shre

print(name[-1])

In [71]:
print(name[:7])

Shreyas

In [76]:
print(name[1])
print(name[2:7])

h
reyas

In [78]:
# We can also use "For Loop" to print different characters of the name in a series of Rows 
for characters in name:
    print(characters)

S
h
r
e
y
a
s

In [92]:
# DAY-12: "String Slicing" and "Operations" on strings in Python 
# For functions we use paranthesis and for Slicng we use square brackets ie.,[]
name = "Shreyas, Chillal"
print(len(name))

16

In [95]:
fruit = "Mango"
MangoLen = len(fruit)
print(MangoLen)

5

In [98]:
print(fruit[0:])

Mango

In [99]:
print(fruit[:])

Mango

In [100]:
print(fruit[0:])

Mango

In [102]:
print(fruit[: :])

Mango

In [111]:
print(fruit[:-1:])

Mang

In [112]:
print(fruit[-1:])

o

In [113]:
print(fruit[:-1])

Mang

In [114]:
print(fruit[: -2])

Man

In [20]:
a = print("World as i see It-Albert Einstein ")

World as i see It-Albert Einstein

In [6]:
print(a)

None

In [21]:
print("This book consists of 77 Essays which are divied into four parts")

This book consists of 77 Essays which are divied into four parts

In [54]:
first = "The world as I see it - 28 Essays"
second = "Politics and pacifism- 25 Essays "
Third = "About the Germany-3 Essays"
Fourth = "The Jews - 11 Essays "

In [106]:
book = f'{first} {second} {Third} {Fourth}'

NameError: name 'first' is not defined

In [56]:
print(book)

The world as I see it - 28 Essays Politics and pacifism- 25 Essays  About the Germany-3 Essays The Jews - 11 Essays

In [10]:
fruit = "Mango"
MangoLen = len(fruit)
print(MangoLen)

5

In [12]:
print(fruit[0:4])

Mang

In [13]:
print(fruit[1:4])

ang

In [15]:
print(fruit[:5])

Mango

In [16]:
print(fruit[0:-3])

Ma

In [17]:
print(fruit[-3:-1])

ng

In [19]:
print(fruit[-3:0])

In [20]:
print(fruit[2:0])

In [21]:
print(fruit[0:7])

# Including 0 but not 7

Mango

In [24]:
 print(fruit[0:-1])

# 0 to -1 is same as the 0 to "length of the string" -1

Mang

In [27]:
# Quick Quiz
nm = "Harry"
print(nm[-4:-2])
# String length -4 = 5-4=1 and String length-2 = 5-2 = 3 same as print(nm[1:3])

ar

In [28]:
print(nm[1:3])

ar

In [2]:
# Day-13: "String Methods" in Python:
# "Strings" are immutable whre as "Lists" are Mutable Data Types 
# 1 Capitalize() Coverts the first character to upper Case
# 2.Casefold() converts the strings into the lower case
# 3.Center() Returns a centered string 
# 4.isascii() Returns True if all Charecters in a string are ascii character
# 5.istitle() Returns True if all characters in a string are follow the rule of the title
# 6.lower() Converts string into the lower case
# 7.encode() Return the encoded version of the string in ' '
# 8.split() Splits the seperated character
# 9.isalnum() Returns True only if the entire string only consists A-Z,a-z,0-9.if any other characters or punctutuations are present it returns Fal
# 10.isalpha() returns True only if the entire string consists of Alphabets only whithout any special characters or comma,backtick
# 11.isprintable() returns True if the entire string is printable
# 12.swapcase() converts Lowercase letters to upper case and upper case letter to lowercase
a = "chris hadfield"

In [16]:
print(a.capitalize ())

Chris hadfield

In [23]:
print(a.casefold ())

chris hadfield

In [25]:
print(a.title())

Chris Hadfield

In [11]:
b = "Space Legend"

In [12]:
print(b.count("Space Legend"))

1

In [28]:
print(b.center(5))

Space Legend

In [14]:
print(b.encode())

b'Space Legend'

In [15]:
print(b.format())

Space Legend

In [20]:
print(b.index("Space Legend"))

0

In [21]:
print(b.isascii())

True

In [22]:
print(b.istitle())

True

In [23]:
print(b.islower())

False

In [24]:
print(b.isupper())

False

In [112]:
print(b.join())

AttributeError: 'int' object has no attribute 'join'

In [26]:
print(b.lower())

space legend

In [30]:
print(b.lstrip())

Space Legend

In [27]:
c = "!!!!CanadianSpaceAgency !!!!! CandianSpaceAgency"

In [28]:
print(c.lower())

!!!!canadianspaceagency !!!!! candianspaceagency

In [29]:
print(c.upper())

!!!!CANADIANSPACEAGENCY !!!!! CANDIANSPACEAGENCY

In [30]:
print(c.capitalize())

!!!!canadianspaceagency !!!!! candianspaceagency

In [46]:
print(c.rstrip("!"))

!!!!CanadianSpaceAgency !!!!! CandianSpaceAgency

In [32]:
print(c.replace("CanadianSpaceAgency","Nasa"))

!!!!Nasa !!!!! CandianSpaceAgency

In [34]:
print(c.split(" "))

['!!!!CanadianSpaceAgency', '!!!!!', 'CandianSpaceAgency']

In [35]:
blogHeading = "introduction to js"

In [36]:
print(blogHeading.capitalize())

Introduction to js

In [38]:
str1 = "welcome to the console!!"

In [39]:
print(len(str1))

24

In [40]:
print((str1.center(50)))

             welcome to the console!!

In [41]:
print(len(str1.center(50)))

50

In [45]:
print(c.count("a"))

7

In [47]:
print(str1.endswith("!!"))

True

In [57]:
print(str1.endswith("to",4,10))

True

In [58]:
str2 = "He's name is Dan.He is an honest man."

In [59]:
print(str2.find("is"))

10

In [60]:
print(str2.find("ishh"))

-1

In [61]:
print(str2.isalnum())

False

In [64]:
str3 = "IWantToBeAnAstrounaut"

In [65]:
print(str3.isalnum())

True

In [67]:
print(str3.isalpha())

True

In [68]:
print(str3.isprintable())

True

In [75]:
str4 = "We wish you a Merry Christmas Day\nRight "

In [76]:
print(str4)

We wish you a Merry Christmas Day
Right

In [81]:
str5 = "We wish you a Merry Christmas Day\n"

In [82]:
print(str5.isprintable())

False

In [83]:
print(str5)

We wish you a Merry Christmas Day

In [84]:
str6 = "World Health Organization"

In [85]:
print(str6.istitle())

True

In [86]:
print(str6.swapcase())

wORLD hEALTH oRGANIZATION

In [2]:
# Day-14:If Else Conditional Statements In Python Used For Dicision Making
a = int(input("Enter your age: "))
print("Your age is:" , a)

if (a>18):
    print("You can drive")
else:
    print("You cannot drive")

Enter your age: 34
Your age is: 34
You can drive

In [3]:
# Conditional operators:
# >,<,<=,>=,==,!=(not equal to)
# print(a>18)
# print(a<=18)
# print(a>=18)
# print(a==18)
# print(a!=18)

if (a>18):
    print("You can drive")
else:
    print("You cannot drive")

You can drive

In [6]:
b = int(input("Enter your age: "))
print("Your age is:",b)
if (b<=18):
    print("You cannot drive")
else:
    print("You can drive")

Enter your age: 23
Your age is: 23
You can drive

In [3]:
c = int(input("Enter your age: "))
print("Your age is:",c)
if (c<=18):
    print("You cannot drive")

elif(c>=18):
    print("You'll definetely drive")

Enter your age: 22
Your age is: 22
You'll definetely drive

In [1]:
applePrice = 190
budget = 200
 
if (budget - applePrice > 50):
    print("Alexa,add 1kg apples to the cart.")
elif (budget - applePrice > 70):
    print("Its ok ")
else:
    print("Alexa,do not add Apples to the cart.")

Alexa,do not add Apples to the cart.

In [9]:
applePrice = 210
budget = 200
 
if (budget - applePrice > 50):
    print("Alexa,add 1kg apples to the cart.")
elif (budget - applePrice > 70):
    print("Its ok ")
else:
    print("Alexa,do not add Apples to the cart.")

Alexa,do not add Apples to the cart.

In [10]:
applePrice = 110
budget = 200
 
if (budget - applePrice > 50):
    print("Alexa,add 1kg apples to the cart.")
elif (budget - applePrice > 70):
    print("Its ok you can buy")
else:
    print("Alexa,do not add Apples to the cart.")

Alexa,add 1kg apples to the cart.

In [11]:
num = int(input("Enter the value of num:"))
if (num < 0):
    print("The number is negative ")
elif (num == 0):
    print("The number is Zero ")
else:
    print("Number is Positive.")

Enter the value of num:6
Number is Positive.

In [24]:
num = int(input("Enter the value of num:"))
if (num < 0):
    print("The number is negative ")
elif (num == 0):
    print("The number is Zero ")
elif (num == 999):
    print("The number is Special ")
else:
    print("Number is Positive.")
    print("I'm happy now .")

Enter the value of num:67
Number is Positive.
I'm happy now .

In [21]:
num = 18
if (num < 0):
    print("The number is negative ")
elif (num > 0):
    if (num <= 10):
        print("Number is in between 1-10")
    elif (num > 10 and num <= 20):
        print("Number is in between 11-20")
    else:
        print("Number is greater than 20 ")
else:
    print("Number is Zero")

Number is in between 11-20

In [35]:
# Day-15:If Else Statments Exercise: Write the Programme that 
# tells about Good Morning Sir,Good Afternoon Sir and Good Evening Sir 
# According to the Time

In [37]:
import time

timestamp= time.strftime("%H:%M:%S")
print(timestamp)

a=int(time.strftime("%H"))

if(a>4 and a<12):
    print("Good Morning! Sir")
elif(a>=12 and a<17):
    print("Good Afternoon!,Sir")
elif(a>=17 and a<22):
    print("Good morning! Sir")
else:
    print("Good Night! Sir")

13:24:20
Good Afternoon!,Sir

In [39]:
# strf is a function which gives the 'Hr' or 'Min' hand
import time

hour = int(time.strftime('%H'))
minute = int(time.strftime('%M'))
second = int(time.strftime('%S'))

if (hour >= 0 and hour <= 11):
    print('Good Morning sir')
elif (hour >= 12 and hour <= 16):
    print('Good Afternoon sir')
elif (hour >= 17 and hour <= 20):
    print('Good Evening sir')
else:
    print('Good night sir')

Good Afternoon sir

In [3]:
# strf is a function which gives the 'Hr' or 'Min' hand
import time
timestamp = int(time.strftime ('%H:%M:% S'))
print(timestamp)
timestamp = int(time.strftime('%H'))
print(timestamp)
timestamp = int(time.strftime('%M'))
print(timestamp)
timestamp = int(time.strftime('%S'))
print(timestamp)

ValueError: Invalid format string

In [22]:
# Day-16:"Match Case Statements" in Python: 

x = int(input("Enter the value of x:"))
# x is the variable to match 
match x:
#     if x is 0 
case 0:
    print("x is Zero ")
#     Case with if-condition 
case 4:
    print("case is 4")
#     Empty Case with if-condition 
case_ if x!=90:
    print("x is not 90 ")
case_ if x!=80:
    print(x, "is not 80")
case_:
    print(x)

IndentationError: expected an indented block after 'match' statement on line 5 (3447171311.py, line 7)

In [10]:
# Day-17:"For Loops" in Python:
name = 'Anikheth'
for i in name:
    print(i)
    if (i == "b"):
        print("This is something special!")

A
n
i
k
h
e
t
h

In [20]:
# name = 'Srujan'
# for S in name:
#     print(S)

In [21]:
colors = ["Red","Green","Blue","Yellow"]
for color in colors:
    print(color)

Red
Green
Blue
Yellow

In [25]:
colors = ["Red","Green","Blue","Yellow"]
for color in colors:
    print(color)
for i in color:
    print(i)

Red
Green
Blue
Yellow
Y
e
l
l
o
w

In [26]:
# Range Functions in Python:
for k in range(5):
    print(k)

0
1
2
3
4

In [27]:
for k in range(5):
    print(k+1)

1
2
3
4
5

In [30]:
for k in range(1,9):
    print(k)

1
2
3
4
5
6
7
8

In [34]:
for k in range(1,20):
    print(k)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [36]:
# Parameters of range function:Start,Stop and Step
for k in range(1,12,3):
    print(k)

1
4
7
10

In [42]:
# Day-18;"WHILE LOOP" in Python:
i = 0
while(i<3):
    print(i)
    i = i+1
print("Done with the 'While Loop'")

0
1
2
Done with the 'While Loop'

In [40]:
for i in range(3):
    print(i)

0
1
2

In [1]:
while(i<=38):
    i = int(input("Enter the number:"))
    print(i)
    i = i+1

NameError: name 'i' is not defined

In [2]:
count = 5
while (count > 0):
    print(count)
    count = count-1
else:
    print("while loop is completed!")

5
4
3
2
1
while loop is completed!

In [6]:
count = -5
while (count > 0):
    print(count)
    count = count -1

In [1]:
do {
#     loop body;
}while(condition);

SyntaxError: invalid syntax (2922707063.py, line 1)

In [21]:
# Day-19:Loop(Break and Continue) in Python:
for i in range(12):
    if (i == 10):
        break 
    print("5 X", i, "=", 5 * (i+1))
        
print("Get out from the Loop")
# Break means get out from the Loop
# Continue means get out from the iteration

5 X 0 = 5
5 X 1 = 10
5 X 2 = 15
5 X 3 = 20
5 X 4 = 25
5 X 5 = 30
5 X 6 = 35
5 X 7 = 40
5 X 8 = 45
5 X 9 = 50
Get out from the Loop

In [26]:
for i in range(12):
    if ( i == 10):
        print("Skip the iteration")
        continue 
    print("5 X", i, "=" , 5*i)

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
Skip the iteration
5 X 11 = 55

In [31]:
for i in range(12):
    if (i == 10):
        continue 
    print("5 X", i, "=", 5 * (i+1))

5 X 0 = 5
5 X 1 = 10
5 X 2 = 15
5 X 3 = 20
5 X 4 = 25
5 X 5 = 30
5 X 6 = 35
5 X 7 = 40
5 X 8 = 45
5 X 9 = 50
5 X 11 = 60

In [29]:
# "Continue statement" execute upto the "Skip the iteration"in line 14 and 
# it will not execute after the the first print statement 
i = 0
while True:
    print(i)
    i = i+1
    if (i%100 == 0):
        break
# This code indicates that emulating the do while loop 
# if i is divisinle by 100 then that equal to 0 and break the code after that

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
# DAY-20:Functions in Python
# Functions are the Block of code that performs a specific task,these are used to separate the code
a = 9
b = 8
gmean = (a*b)/(a+b)
print(gmean)

4.235294117647059

In [5]:
c = 7
d = 9
gmean = (c*d)/(c+d)
print(gmean)

3.9375

In [10]:
def calculateGmean(a,b):
     gmean = (a*b)/(a+b)
print(gmean)

3.9375

In [8]:
a = 6
b = 5
if(a>b):
    print("First number is greater")
else:
    print("Second number is greater")
calculateGmean(a,b)
print(gmean)

First number is greater

NameError: name 'calculateGmean' is not defined

In [14]:
def isGreater(a,b):
    if(a>b):
        print("First number is greater")
    else:
        print("Second number is greater or equal")

In [15]:
a >b

True

In [16]:
m = a>b
print(m)

True

In [17]:
a = 5 
b = 4
isGreater(a,b)

First number is greater

In [19]:
a = 8
b = 8
isGreater(a,b)

Second number is greater or equal

In [29]:
def calculateGmean(x,y):
     gmean = (x*y)/(x+y)
     print(gmean)

In [30]:
x = 7 
y = 9
calculateGmean(x,y)

3.9375

In [32]:
a = 6
b = 3
calculateGmean(a,b)

2.0

In [33]:
p = 4
q = 3
calculateGmean(p,q)

1.7142857142857142

In [35]:
t = 3
r = 1
calculateGmean(t,r)

0.75

In [36]:
o = 4
t = 2
calculateGmean(o,t)

1.3333333333333333

In [50]:
def AreaOfSquare(b,h):
    area =  (b*h)
    print(area)

In [51]:
b = 6
h = 6

AreaOfSquare(b,h)

36

In [52]:
r = 4
t = 6
AreaOfSquare(r, t)

24

In [81]:
def YourNameIs(g,h):
    name = ("My name is," + " " + g + " " + h)
    print(name)

In [82]:
g = "Shreyas"
h = "Chillal"

In [83]:
YourNameIs (g,h)

My name is, Shreyas Chillal

In [84]:
t = "Sandesha"
r = "S.A"

In [85]:
YourNameIs(t,r)

My name is, Sandesha S.A

In [116]:
r = "Sahyadri Science College,"
t = "Shimoga"
def YouAreStudying(r,t):
    input("Your Name is,")
    college =   ( "I'm Studying in,"  +" " + r + " " + t)
    print(college)

In [117]:
YouAreStudying(r,t)

Your Name is,Shreyas
I'm Studying in, Sahyadri Science College, Shimoga

In [ ]:
def YouAreFrom(l,y):
    input("Your name is,")
    village = ("I belongs to the Village," + " " + l + " " + y)
    print(village)

In [ ]:
l = "Gogopeth "
y = "Shahapur-Tq , Yadgir-Dist"

In [ ]:
YouAreFrom(l,y)

In [ ]:
def isLesser(a,b):
    pass
# Pass means Leave the function and move forward i will write it afeterwards for its execution

In [ ]:
# for what perpose functions are used for Here are some practical examples 
# We are Creating Functions for amazon or any other e-commerse site:
# One function belongs to process the order
# Second function belongs to whether user has logged in or not
# Whether order placed delivered to the user Pincode or not

In [1]:
# Functions are of two types :
# 01.Built in functions: These are built in programming language Ex:print,len,title,tuples,set,min,max,range etc
# 02.User defined functions : User build his own function using "def" keyword followed by function name, followed by paranthesins
# follwed by the colon.If we are in better IDE then Atomatically indent will be displayed
# Rules for naming a functions are similer to that of the variables 
# Any statements other and other code within the functions should be indented

In [2]:
# DAY-21: Function Arguments in Python(CWH):How arguments are passed in functions? As a tuple, 
# dictionary we can pass the arguments
# Types of Arguments we can provide in the Function:
# 01.Default Arguments 
# 02.Keyword Arguments 
# 03.Variable Length Arguments 
# 04.Required Arguments

In [3]:
# 01."Required Arguments":The value must be given
def average(a,b):
    print("The average is " , (a+b)/2)
average(5,7)
# In this case I have given "Required Arguments" for a,b

The average is  6.0

In [4]:
# 02."Default Arguments" given while defining the functions itself 
def average (a=2,b=3):
    print("The average is " , (a+b)/2)
average()
# If i gave the average inputs while execution it ignores the default Arguments 
# We can also give single argumet either "b" or "a"

The average is  2.5

In [5]:
average(3,6)

The average is  4.5

In [9]:
def name(fname,mname = "John" , lname = "Whatson"):
    print("Hellow ," , fname , mname, lname)
name("json")

Hellow , json John Whatson

In [8]:
# 03."Keyword Arguments ": We can provide Arguments in order with key=value pairs This way interpreter recognises the order 
# in which the arguments are passed does not matter
def average(a,b,c):
    print("The average is " , (a+b+c)/2)
average (b = 9 , a=21, c = 4)

The average is  17.0

In [15]:
# 04.Variable Length Arguments : 
def average (*numbers):
    sum = 0
    for i in numbers:
      sum = sum + i 
    print ("Average is : ", sum/len(numbers))

In [18]:
average(4,6,7)

Average is :  5.666666666666667

In [21]:
def name(**name):
    print(type(name))
    print("Hellow " , name["fname"], name["mname"],name["lname"])
    
name(mname = "Buchanan", lname = "Barnes" , fname = "James")

<class 'dict'>
Hellow  James Buchanan Barnes

In [42]:
def average (**numbers):
    sum = 0
    for i in numbers:
        sum = sum + i 
        return sum / len(numbers)

c = average ()
print(c)

None

In [37]:
c = average()
print(c)

None

In [38]:
def average (*numbers):
    sum = 0
    for i in numbers:
      sum = sum + i 
    print ("Average is : ", sum/len(numbers))

In [39]:
c = average(3,5,6,6,6)

Average is :  5.2

In [43]:
# DAY -22: lists in Python:The 
# Lists can hold any values it may be string,numbers,boolean 
l = [3,4,6]

In [45]:
print(l)

[3, 4, 6]

In [46]:
print(l[0])

3

In [49]:
print(l[2])

6

In [53]:

print([len(l)])

[3]

In [4]:
marks = [4,46,6,9,"shreyas", "chillal"]

In [5]:
len(l)-3

NameError: name 'l' is not defined

In [6]:
if 7 in marks:
    print("yes")
    
else:
    print ("no")

no

In [7]:
print(marks [1:])

[46, 6, 9, 'shreyas', 'chillal']

In [8]:
print(marks [:])

[4, 46, 6, 9, 'shreyas', 'chillal']

In [9]:
print(marks[1:8:])

[46, 6, 9, 'shreyas', 'chillal']

In [11]:
print(marks[1:6])

[46, 6, 9, 'shreyas', 'chillal']

In [12]:
print(marks[0:5])

[4, 46, 6, 9, 'shreyas']

In [14]:
print(marks[0:6:3])

[4, 9]

In [15]:
print(marks[0:6:2])

[4, 6, 'shreyas']

In [16]:
# List comprehension
lst = [i for i in range(4)]

In [17]:
print(lst)

[0, 1, 2, 3]

In [25]:
lst_1 = [i for i in range(45)]

In [26]:
print(lst_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [24]:
print(marks[0:len(marks)])

[4, 46, 6, 9, 'shreyas', 'chillal']

In [27]:
lst = [i*i for i in range(10) ]

In [28]:
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
lst = [i*i for i in range(10) if i%2 == 0]

In [30]:
print(lst)

[0, 4, 16, 36, 64]

In [31]:
# "List Methods" in Python:
l = [1,2,3,4,5,6]
print(l)

[1, 2, 3, 4, 5, 6]

In [32]:
l.append(7)

In [33]:
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [34]:
l = [23,1,4,5,6,0]

In [35]:
# we can lists in order with this "sort method"
l.sort()

In [36]:
print(l)

[0, 1, 4, 5, 6, 23]

In [37]:
l.sort(reverse=True)

In [38]:
print(l)

[23, 6, 5, 4, 1, 0]

In [50]:
l_1 = [23,5,6,1,46,8,5]

In [51]:
l_1.sort()
print(l_1)

[1, 5, 5, 6, 8, 23, 46]

In [52]:
print(l_1.index(1))

0

In [53]:
print(l_1.index(5))

1

In [54]:
print(l_1.count(5))

2

In [56]:
print(l_1.count(3))

0

In [60]:
m = l_1 
m[0] = 0
print(l_1)

[0, 5, 5, 6, 8, 23, 46]

In [61]:
l_1.sort()

In [62]:
print(l_1)

[0, 5, 5, 6, 8, 23, 46]

In [64]:
l_2 = [1,2,89,45,76]
print(l_2)

[1, 2, 89, 45, 76]

In [68]:
l_2.sort()

In [69]:
print(l_2)

[1, 2, 45, 76, 89]

In [71]:
m = l_2.copy()
# Here only m changes not l_2
m[0] = 0
print(l_2)

[1, 2, 45, 76, 89]

In [72]:
print(m)

[0, 2, 45, 76, 89]

In [76]:
m.insert(1,344)
print(m)

[0, 344, 2, 45, 76, 89]

In [78]:
m = [233,56,67]
l_2.extend (m)
# Add m lists at the end of the l
print(l_2)

[1, 344, 2, 45, 76, 89, 233, 56, 67]

In [81]:
k = l_2 + m

In [82]:
print(k)

[1, 344, 2, 45, 76, 89, 233, 56, 67, 233, 56, 67]

In [13]:
# DAY-24 : "Tuples" in Python:List of items seperated by commas and enclosed in a parenthesis 
# The single difference between tuple and list is that list are "mutable" where as tuples are "immutable" objects 
t = (1,5,4.4,67,896)
print(type(t),t)

<class 'tuple'> (1, 5, 4.4, 67, 896)

In [14]:
# single item in a tuple wont be existed to include single item we must seperate the item with comma 
t_1 = (3,)
type(t)

tuple

In [15]:
t_1 = (3)
type(t_1)

int

In [7]:
# Example for "immutable tuple" 
t_2 = (1,73.5,0,8)
t[0] = 45
# Here i got an error since,tuples are wont able to change

TypeError: 'int' object does not support item assignment

In [16]:
print(tup[2])

4

In [19]:
len(t)

5

In [21]:
print(t[-4])

5

In [22]:
print(len(t)-4)

1

In [23]:
len(tup)

3

In [24]:
len(t_2)

4

In [30]:
if 896 in t:
    print("Yes 896 is present in a tuple")

Yes 896 is present in a tuple

In [33]:
# In tuple we can able to slice the items :
t_3 = t[1:4]
print(t_3)

(5, 4.4, 67)

In [34]:
len(t_3)

3

In [36]:
if 73.5 in t_2:
    print("yes")

yes

In [37]:
# DAY-25:"Operations on Tuples" in Python:
# Indirectly,to change objects in tuple first copy the objects than we need to creat list for that tuple than change the tuple

In [39]:
# Example:To change the tuple 
countries =  ("Spain", "Italy","India","England","Germany")
print(countries)

('Spain', 'Italy', 'India', 'England', 'Germany')

In [41]:
print(countries[3])

England

In [45]:
# Indirectly,to change objects in tuple first copy the objects than we need to creat list for that tuple than change the tuple
temp = list(countries)
temp.append("Russia")
temp.pop(3)
temp[2] = "finland"
countries = tuple(temp)
print(temp)

['Spain', 'Italy', 'finland', 'Russia', 'Russia']

In [48]:
# We can concatinate the tuples with the another tuple
tup = ("Pakistan", "Afghanistan" , "Bangladesh" , "Srilanka")
tup_1 = ("Vietnam","India","China")
SouthEastAsia = tup + tup_1
print(SouthEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'Srilanka', 'Vietnam', 'India', 'China')

In [59]:
tup_4 = (0,1,2,3,8,5,3,3,3,5,5,4)
res = tup_4.count(3)
print(res)

4

In [62]:
print(tup_4.index(4))

11

In [64]:
print(tup_4.index(5,6))

9

In [2]:
tup_4 = (0,1,2,3,8,5,3,3,3,5,5,4)

In [3]:
print(tup_4)

(0, 1, 2, 3, 8, 5, 3, 3, 3, 5, 5, 4)

In [11]:
print(tup_4.index(4,6))
# Here we have obtained the index 4 of a tuple_4

11

In [16]:
print(tup_4.index(1))

1

In [17]:
print(tup_4.index(4))

11

In [18]:
print(tup_4.index(8))

4

In [19]:
# Here the index of 3  in a slice of a tuple 4 to 8 is at "6"
print(tup_4.index(3,4,8))

6

In [23]:
print(tup_4.index(8))

4

In [26]:
# DAY-26:Exercise-2:Create a programme to show the local time 
import time 
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)

16:15:15
16
15
15

In [28]:
import time 
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
hour = int(time.strftime('%H'))
print(hour)

16:17:47
16

In [39]:
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
hour = int(time.strftime('%H'))
hour = int(input("Enter hour: "))
print(hour)

if (hour>0 and hour<12):
    print( "Good Morning Sir ")
elif(hour>=12 and hour<17):
    print("Good Afternoon Sir")
if(hour>=17 and hour<=0):
    print("Good Night Sir ")

16:27:08
Enter hour: 5
5
Good Morning Sir

In [ ]:
hour = int(time.strftime('%H'))
hour = int(input("Enter hour: "))
print(hour)
if (hour>0 and hour<12):
    print( "Good Morning Sir ")
elif(hour>=12 and hour<17):
    print("Good Afternoon Sir")
if(hour>=17 and hour<=20):
    print("Good Evening Sir")
if(hour>20 and hour<=0):
    print("Good Night Sir")

In [ ]:
#DAY-27_Exercise-3:Create a programme capable of displaying questions to the user like KBC:
# Here we use "list data types" to store the the questions and their answers:fd
# Display the final amount the person is taking home after playing the game:

In [1]:
# DAY-28:"f-String" in Python :It helps in placing variables in String very conviniently
letter = "Hey my name is {} and im from {}"
country = "India"
name = "Shreyas"
print(letter.format(name , country))
# This form of "f-string" gives less convinience for writing code since we are writing a lot of code

Hey my nname is Shreyas and im from India

In [2]:
print(f"Hey my name is {name} and im from {country}")

Hey my name is Shreyas and im from India

In [10]:
txt = "For only {price:.2f} dollers!"
print (txt.format(price = 49.099))

For only 49.10 dollers!

In [13]:
# It can also be written in a following way:
price = 49.099
txt = f"For only {price:.2f} dollers!"
print(txt)

For only 49.10 dollers!

In [14]:
print(type (f"{2*30}"))

<class 'str'>

In [18]:
print (f" We use f-strings like this:Hey my name is {name} and Im from {country}" )

 We use f-strings like this:Hey my name is Shreyas and Im from India

In [20]:
print (f" We use f-strings like this:Hey my name is {{name}} and Im from {{country}}" )

 We use f-strings like this:Hey my name is {name} and Im from {country}

<!--  -->

In [23]:
# DAY-29:"DOCSTRING" and "PEP-8" in Python:
# PEP:"Python Enhancement Proposal"
# PEP-8 Provides the best practice for Python code
# DOCSTRING are the "Special type of a String" which help us to understand functions Properly.it allows us to provide functions with a description
# Docstring must be added right "below the function name" or right "above the function body"
def square (n):
    '''Takes in a number n, returns the square of n'''
    print(n**2)
square(5)
print(square.__doc__)
# Docsting won't be ignored like the comments It has a special treatment in Python

25
Takes in a number n, returns the square of n

In [29]:
# DAY-30:"Recursion in Python":Its a process of something for defining the itself 
# factorial(n) = n*factorial(n-1)
def factorial(n):
    if (n == 0 or n ==1 ):
        return 1
    else:
        return n*factorial(n-1)

In [31]:
print(factorial(3))
print(factorial (4))
print(factorial(5))

6
24
120

In [33]:
print(factorial(0))

1

In [34]:
# Calculation of Fibonnacci series :
# f0 = 0 , f1 = 1
# f2 = f0+f1
# f3 = f1+f2
# fn = f(n-1) + f(n-2)

In [68]:
# Write a programme for Fibonacci Sequence:
def fibonacci_series(n):
    fib_series = []
    if n <= 0:
        return "Number of terms should be positive"
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_series = [0, 1]
        while len(fib_series) < n:
            next_num = fib_series[-1] + fib_series[-2]
            fib_series.append(next_num)
        return fib_series

In [79]:
fibonacci_series(7)

[0, 1, 1, 2, 3, 5, 8]

In [72]:
# DAY-31:"Sets in Python":  Sets are "unordered" collection of objects which does not repeat
# Sets are also do not allow duplicate values 
s = {6,7,8,8,9,9}
print(s)

{8, 9, 6, 7}

In [73]:
shreyas = set()

In [74]:
print(type(shreyas))

<class 'set'>

In [1]:
# DAY-32:"Set Methods In Python"
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,9}

In [3]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 9}

In [4]:
print(s1,s2)

{1, 2, 3, 4, 5, 6} {4, 5, 6, 7, 9}

In [8]:
print(s1.update(s2))

None

In [5]:
# DAY-33:"Dictionaries In Python"
# We won't scan the dictionary individualy to find the value corresponding to the dictionary
dic = {
    233:"Shreyas",
    34:"Sameeer",
    456:"Suresh"
}

In [7]:
print(dic[34])

Sameeer

In [9]:
info = {"name":"Karan" , "age": 19 , "eligible":True}
print(info)

{'name': 'Karan', 'age': 19, 'eligible': True}

In [10]:
print(info['name'])

Karan

In [11]:
print(info['age'])

19

In [12]:
print(info['eligible'])

True

In [16]:
for key in info.keys():
    print(info)

{'name': 'Karan', 'age': 19, 'eligible': True}
{'name': 'Karan', 'age': 19, 'eligible': True}
{'name': 'Karan', 'age': 19, 'eligible': True}

In [17]:
print(info.keys())

dict_keys(['name', 'age', 'eligible'])

In [22]:
print(info.values())

dict_values(['Karan', 19, True])

In [24]:
print(info.keys())

dict_keys(['name', 'age', 'eligible'])

In [29]:
print(f"The value corresponding to the keys {keys} is {info[keys]}")

NameError: name 'keys' is not defined